---
import Container from '@components/Container.astro';
import PageLayout from '@layouts/PageLayout.astro';
import Link from '@components/Link.astro';
import { SITE, SOCIALS } from '@consts';
---

<PageLayout title="Connect" description="Let's connect!">
  <Container>
    <div class="space-y-16">
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect!</h5>
        <article>
          <p>Feel free to hit me up. I'd love to chat about anything and everything.</p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                  {SOCIAL.NAME}
                </Link>
                <span>•</span>
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
