---
import Container from '@components/Container.astro';
import PageLayout from '@layouts/PageLayout.astro';
import Link from '@components/Link.astro';
import { cn } from '@lib/utils';
import { HOME } from '@consts';
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION} hideHeader>
  <Container>
    <div class="space-y-16">
      <section class="mt-8 md:mt-32">
        <h1 class="animate text-4xl font-semibold text-black dark:text-white">Mitch Rosenburg</h1>
        <p class="animate my-2 font-mono">
          {
            '((Front|Back)end|DevOps) Engineer|Code(r| Ninja)'
              .split(/([()|/])/)
              .map((punctuationOrWord) => (
                <span
                  class={cn(
                    !/[()|/]/.test(punctuationOrWord) && 'text-black/35 dark:text-white/35'
                  )}
                  set:html={punctuationOrWord}
                />
              ))
          }
        </p>
      </section>

      <section class="animate">
        <p class="mt-8 text-2xl">
          likes <strong class="text-black dark:text-white">solving problems</strong>
          <br />often by
          <strong class="text-black dark:text-white">building things</strong>
        </p>
      </section>

      <section class="animate">
        <p class="flex flex-wrap gap-2">
          <Link href="/readme">Readme</Link>
          <span>•</span>
          <Link href="/experience">Experience</Link>
          <span>•</span>
          <Link href="/connect">Connect</Link>
        </p>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="font-semibold text-black dark:text-white">Experience</h5>
          <Link href="/exp"> See all experience </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            exp.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section> -->

      <!-- <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                  {SOCIAL.NAME}
                </Link>
                {'/'}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section> -->
    </div>
  </Container>
</PageLayout>
