---
import Container from '@components/Container.astro';
import Link from '@components/Link.astro';
import { SITE, SOCIALS } from '@consts';
import SeparatedList from './SeparatedList.astro';
import GithubSvg from './svgs/Github.astro';
import LinkedinSvg from './svgs/Linkedin.astro';
import EnvelopeSvg from './svgs/Envelope.astro';
import MoonSvg from './svgs/Moon.astro';
import DisplaySvg from './svgs/Display.astro';
import BrightnessHigh from './svgs/BrightnessHigh.astro';

const github = SOCIALS.find((SOCIAL) => SOCIAL.NAME === 'Github')!;
const linkedin = SOCIALS.find((SOCIAL) => SOCIAL.NAME === 'Linkedin')!;
---

<div id="bottom-toolbar" class="animate py-5 text-sm">
  <Container>
    <div class="flex items-center justify-between">
      <div class="flex justify-center gap-4">
        <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`} external>
          <EnvelopeSvg class="size-[18px]" />
        </Link>
        <Link href={github.HREF} aria-label={`${SITE.NAME} on ${github.NAME}`} external>
          <GithubSvg class="size-[18px]" />
        </Link>
        <Link href={linkedin.HREF} aria-label={`${SITE.NAME} on ${linkedin.NAME}`} external>
          <LinkedinSvg class="size-[18px]" />
        </Link>
      </div>

      <div class="flex justify-end gap-4">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
          <BrightnessHigh class="size-[18px]" />
        </button>
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
          <MoonSvg class="size-[18px]" />
        </button>
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
          <DisplaySvg class="size-[18px]" />
        </button>
      </div>
    </div>
  </Container>
</div>

<footer class="animate py-10 text-sm text-black/35 dark:text-white/35">
  <Container>
    <div class="flex justify-between">
      <div>
        <h3 class="mb-2 font-bold">Hit me up</h3>
        <ul>
          <li>
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
              external
              class="flex items-center gap-2">
              <EnvelopeSvg class="size-[14px]" /> Email
            </Link>
          </li>
          <li>
            <Link
              href={github.HREF}
              aria-label={`${SITE.NAME} on ${github.NAME}`}
              external
              class="flex items-center gap-2">
              <GithubSvg class="size-[14px]" /> Github
            </Link>
          </li>
          <li>
            <Link
              href={linkedin.HREF}
              aria-label={`${SITE.NAME} on ${linkedin.NAME}`}
              external
              class="flex items-center gap-2">
              <LinkedinSvg class="size-[14px]" /> Linkedin
            </Link>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 font-bold">Extra Stuff</h3>
        <ul>
          <li>
            <Link href="/one-page.pdf" aria-label="One Page Resume" external>
              One Page Resume
            </Link>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-2 font-bold">Theme</h3>
        <ul>
          <li>
            <button
              id="light-theme-button"
              aria-label="Light theme"
              class="flex items-center gap-2 transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
              <BrightnessHigh class="size-[14px]" /> Light
            </button>
          </li>
          <li>
            <button
              id="dark-theme-button"
              aria-label="Dark theme"
              class="flex items-center gap-2 transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
              <MoonSvg class="size-[14px]" /> Dark
            </button>
          </li>
          <li>
            <button
              id="system-theme-button"
              aria-label="System theme"
              class="flex items-center gap-2 transition-colors duration-300 ease-in-out hover:text-black hover:dark:text-white">
              <DisplaySvg class="size-[14px]" /> System
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <SeparatedList values={['© 2025', 'Mitch Rosenburg']} separator=" | " />
    </div>
  </Container>
</footer>
<script is:inline>
  (() => {
    function init() {
      const footer = document.querySelector('footer');

      let scrollTop = 0;
      let scrollTimeout = null;

      if (footer) footer.style.bottom = `0px`;

      function handleScroll() {
        clearTimeout(scrollTimeout);

        const prevScrollTop = scrollTop;
        scrollTop = document.documentElement.scrollTop;
        const scrollBottom =
          document.documentElement.scrollHeight - document.documentElement.clientHeight - scrollTop;

        if (scrollTop > 100 && scrollBottom > 100) {
          const scrollDiff = scrollTop - prevScrollTop;

          console.log({ scrollTop, scrollBottom, scrollDiff });
          if (Math.abs(scrollDiff) > 20) {
            if (footer) footer.style.bottom = `-${footer.getBoundingClientRect().height}px`;
          }
          scrollTimeout = setTimeout(() => {
            if (footer) footer.style.bottom = `0px`;
          }, 750);
        } else {
          if (footer) footer.style.bottom = `0px`;
        }
      }

      handleScroll();

      document.addEventListener('scroll', handleScroll, { passive: true });

      return () => {
        document.removeEventListener('scroll', handleScroll);
      };
    }

    let teardown = null;
    document.addEventListener('astro:page-load', () => {
      teardown = init();
    });

    document.addEventListener('astro:before-swap', () => {
      teardown?.();
    });
  })();
</script>
